module.exports = {
  extends: [
    '@<%= npmScope %>/<%= projectName %>/typescript',
    '@<%= npmScope %>/<%= projectName %>/node',
  ],
  parserOptions: {
    project: 'tsconfig.json',
    tsconfigRootDir: __dirname,
  },
  rules: {
    '@typescript-eslint/no-var-requires': 'off',
  },
};
