import eslintConfig from './<%= projectName %>';

describe('eslintConfig', () => {
  it('should match snapshot', () => {
    expect(eslintConfig).toBeDefined();
    // expect(eslintConfig).toMatchSnapshot();
  });
});
