/**
 * These are configuration settings for the dev environment.
 *
 * Do not include API secrets in this file or anywhere in your JS.
 *
 * https://reactnative.dev/docs/security#storing-sensitive-info
 * https://github.com/t3-oss/t3-env/issues/203
 */
import { createEnv } from '@t3-oss/env-core';
import { z } from 'zod';

import { getEnvWithAccessors, nodeEnvs } from '../utils';

const dev = createEnv({
  clientPrefix: 'EXPO_PUBLIC_',

  client: {
    ADMIN_EMAIL: z.string().email().default('admin@example.com'),
    NODE_ENV: z.enum(nodeEnvs).optional(),
    USE_REACTOTRON: z.boolean().default(true),
    USE_REDUX_DEV_TOOLS: z.boolean().default(true),
    USE_REDUX_LOGGER: z.boolean().default(true),
    USE_ZUSTAND_DEV_TOOLS: z.boolean().default(true),
  },

  runtimeEnv: {
    ADMIN_EMAIL: process.env.ADMIN_EMAIL,
    NODE_ENV: process.env.NODE_ENV,
    USE_REACTOTRON: process.env.USE_REACTOTRON,
    USE_REDUX_DEV_TOOLS: process.env.USE_REDUX_DEV_TOOLS,
    USE_REDUX_LOGGER: process.env.USE_REDUX_LOGGER,
    USE_ZUSTAND_DEV_TOOLS: process.env.USE_ZUSTAND_DEV_TOOLS,
  },
});

export default getEnvWithAccessors(dev);
