/**
 * Configuration for the web environment.
 *
 * Refs:
 *  - T3 Env (https://github.com/t3-oss/t3-env)
 *  - Next-ZodEnv (https://github.com/morinokami/next-zodenv/tree/main#nextjs)
 *  - Envalid (https://github.com/af/envalid)
 */
import { createEnv } from '@t3-oss/env-core';
import { z } from 'zod';

import { getEnvWithAccessors, nodeEnvs } from '../utils';

const env = createEnv({
  clientPrefix: 'PUBLIC_',

  client: {
    ADMIN_EMAIL: z.string().email().default('admin@example.com'),
    NODE_ENV: z.enum(nodeEnvs).optional(),
    NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: z.string(),
    NEXT_PUBLIC_CONVEX_URL: z.string(),
  },

  runtimeEnvStrict: {
    ADMIN_EMAIL: process.env.ADMIN_EMAIL,
    NODE_ENV: process.env.NODE_ENV,
    NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY: process.env.NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY,
    NEXT_PUBLIC_CONVEX_URL: process.env.NEXT_PUBLIC_CONVEX_URL,
  }
});

export default getEnvWithAccessors(env);
