module.exports = {
  // This isn't a best practice - you should only pick out the extends that you
  // care about and typescript/react implies the presence of the esnext, es5 and
  // core configs so specifying them all is not needed.
  // But it is useful for testing to prove all configs can be loaded sucessfully
  extends: [
    '<%= importPath %>/core',
    '<%= importPath %>/es5',
    '<%= importPath %>/esnext',
    '<%= importPath %>/typescript',

    // Augmenting configs - When extending, these go after the core config
    '<%= importPath %>/cypress',
    '<%= importPath %>/jest',
    '<%= importPath %>/jest-dom',
    '<%= importPath %>/node',
    '<%= importPath %>/react',
    '<%= importPath %>/webpack',

    // Prettier config - When extending, this must go last
    '<%= importPath %>/prettier',
  ],
  rules: {
    "@typescript-eslint/no-var-requires": "off",
    "sort-keys-fix/sort-keys-fix": "off"
  },
};
