module.exports = {
  // This isn't a best practice - you should only pick out the extends that you
  // care about and typescript/react implies the presence of the esnext, es5 and
  // core configs so specifying them all is not needed.
  // But it is useful for testing to prove all configs can be loaded sucessfully
  extends: [
    '<%= importPath %>/src/lib/configs/core',
    '<%= importPath %>/src/lib/configs/es5',
    '<%= importPath %>/src/lib/configs/esnext',
    '<%= importPath %>/src/lib/configs/typescript',

    // Augmenting configs - When extending, these go after the core config
    '<%= importPath %>/src/lib/configs/cypress',
    '<%= importPath %>/src/lib/configs/jest',
    '<%= importPath %>/src/lib/configs/jest-dom',
    '<%= importPath %>/src/lib/configs/node',
    '<%= importPath %>/src/lib/configs/react',

    // Prettier config - When extending, this must go last
    '<%= importPath %>/src/lib/configs/prettier',
  ],
  rules: {
    '@typescript-eslint/no-var-requires': 'off',
    'sort-keys-fix/sort-keys-fix': 'off'
  },
};
