const { buildConfig } = require('<%= offsetFromRoot %>libs/<%= universalLibName %>/design/<%= uiName %>/tailwind.config');

/** @type {import('tailwindcss').Config} */
module.exports = buildConfig(__dirname);
