const sheriff = require('eslint-config-sheriff');
const { defineFlatConfig } = require('eslint-define-config');

const sheriffOptions = {
  react: true,
  next: false,
  astro: false,
  lodash: true,
  playwright: false,
  jest: true,
  vitest: false,
};

/**
 * Use this for React Native or Expo projects.
 */
module.exports = defineFlatConfig([...sheriff(sheriffOptions)]);
