import sheriff from 'eslint-config-sheriff';
import { defineFlatConfig } from 'eslint-define-config';

const sheriffOptions = {
  react: true,
  next: false,
  astro: false,
  lodash: true,
  playwright: false,
  jest: true,
  vitest: false,
};

/**
 * Use this for React Native or Expo projects.
 */
export default defineFlatConfig([...sheriff(sheriffOptions)]);
