const basic = require('./basic');
const expo = require('./expo');
const next = require('./next');
const node = require('./node');
const nx = require('./nx');
const react = require('./react');

module.exports = { basic, expo, next, node, nx, react };
