const sheriff = require('eslint-config-sheriff');
const { defineFlatConfig } = require('eslint-define-config');

const sheriffOptions = {
  react: false,
  next: false,
  astro: false,
  lodash: true,
  playwright: false,
  jest: false,
  vitest: false,
};

/**
 * Default NX Workspace Config
 */
module.exports = defineFlatConfig([...sheriff(sheriffOptions)]);
