module.exports = {
  extends: [
    '<%= importPath %>/src/lib/configs/typescript',
    '<%= importPath %>/src/lib/configs/node',
  ],
  parserOptions: {
    project: 'tsconfig.json',
    tsconfigRootDir: __dirname,
  },
};
