import { createEnv } from '@t3-oss/env-core';
import { z } from 'zod';

import { getEnvWithAccessors, nodeEnvs } from '../utils';

const env = createEnv({
  server: {
    ADMIN_EMAIL: z.string().email().default('admin@example.com'),
    NODE_ENV: z.enum(nodeEnvs).optional(),
    CLERK_HOSTNAME: z.string().default(''),

    /**
     * This should be configured on Convex Dashboard
     */
    CLERK_WEBHOOK_SECRET: z
      .string()
      .default('')
      .describe('This should be configured on Convex Dashboard'),
  },

  runtimeEnv: process.env,
});

export default getEnvWithAccessors(env);
